<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Пользователь</title>
</head>
<body>
<p th:text="${user.getName() + ' ' + user.getSurname() + ', ' + user.getAge()}">VALUE</p>
<p th:text="'Email: ' + ${user.getEmail()}">VALUE</p>
<p th:text="'ID: ' + ${user.getId()}">VALUE</p>

<button><a style="text-decoration:none;" th:href="@{/{id}/update(id=${user.getId()})}"> Редактировать</a></button>

<form th:method="DELETE" th:action="@{/{id}(id=${user.getId()})}">
    <input type="submit" value="Удалить"/>
</form>
</body>
</html>